.header {
  grid-area: h;
  background: #494d4e;
  margin-bottom: 10px;
}
.header img {
  height: 60px;
  width: 60px;
  border-radius: 40%;
}
.loginBlock {
  float: right;

}
.loginBlock a {
  color: white;
}